body {
    font-family: system-ui, sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background: rgb(171, 92, 92);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
}
