name: Build & Deploy Dist Only

on:
    push:
        branches: [main]

jobs:
    build-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: npm

            - name: Install dependencies
              run: npm ci

            - name: Build project
              run: npm run build

            - name: Deploy dist via SSH
              uses: appleboy/ssh-action@v0.1.6
              with:
                  host: ${{ secrets.AWS_HOST }}
                  username: ${{ secrets.AWS_USER }}
                  key: ${{ secrets.AWS_SSH_KEY }}
                  port: 22
                  script: |
                      rm -rf ~/js-counter/dist
                      mkdir -p ~/js-counter/dist
                  rsync: |
                      -avz --delete dist/ ${{ secrets.AWS_USER }}@${{ secrets.AWS_HOST }}:~/js-counter/dist/
